html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

.intro {
	background: url(../images/background_lines-01.svg), linear-gradient(132deg, rgb(251, 251, 255) 0.00%, rgb(215, 223, 252) 100.00%);
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container-folders {
  display: inline-flex;
  flex-flow: row;
  justify-content: flex-start;
  float: left;
  gap: 30px;
}
.folder{
    background:url(../images/mac_os_9_folder.png) no-repeat;
    cursor:pointer;
    border:none;
    width:70px;
    height:70px;
}

.folder-text{
  font-family: 'Open Sans', sans-serif;
  text-align:start;
}






