html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

.intro {
	background: url(../images/background_lines-01.svg), linear-gradient(132deg, rgb(251, 251, 255) 0.00%, rgb(215, 223, 252) 100.00%);
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 100%
    height: 100%;
}
.flex-container-folders {
  display: inline-flex;
  padding: 3%;
}
.flex-container-folders-row {
  flex-flow: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  float: left;
  gap: 30px;
  width: 100%;
}
.folder{
    background:url(../images/mac_os_9_folder.png) no-repeat;
    cursor:pointer;
    border:none;
    width:70px;
    height:70px;
}

.folder-text{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}






